html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px; /* Margin bottom by footer height */
    background: #ffffff;
}

#home-section {
	min-height: 700px;
	background-size: cover;
	background-attachment: fixed;
}

#home-section .dark-overlay {
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 700px; }

#home-section .home-inner {
	padding-top: 150px;
}

#navbar-home{
	border-bottom:#008ed6 3px solid;
	opacity:0.8;
}

#users-nav-item .nav-item{
	margin: 0px 5px;
}

#shopping-cart-icon{
	font-size: 30px;
	background-color: transparent;

}

#shopping-cart-collapse{
	max-width: 180px;
}

.global-errors{
	list-style-type: none;
	padding: 0px;
}

#login-form{
    margin-top: 150px;
}

#registration-form{
    margin-top: 150px;
}


/*region dashboard page*/
/*================================================================*/
/* #section { */
/*     min-height: 100%; */
/*     background-size: cover; */
/*     background-attachment: fixed; */
/* 	padding-bottom: 25px; */
/* } */


#remove-link{
	cursor: pointer;
}

#content .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%; }


.edit-btn{
	color: darkslategrey;
}

.form{
	width: 70%;
}

.thead{
	background-color: #7386D5;
	color: white;
}

th {
	cursor: pointer;
}

#pageSizeSelect{
	width: 50px;
	padding: 0;
	margin: 0;
}

#search-user-dropdown{
	font-size: 15px;
}

#user-table{
	width: 100%;
}
/*================================================================*/
/*endregion*/


/*region Footer*/
/*================================================================*/
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px; /* fixed height of the footer  */
	line-height: 60px; /* Vertically center the text there */
    color: darkgrey;
}
/*================================================================*/
/*endregion*/

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content {
    width: 100%;
    padding: 20px;
/*     min-height: 100vh; */
    transition: all 0.3s;
    padding-top: 75px;
    color: #333;
}
.sidebar {
    min-width: 150px;
    max-width: 150px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-nav {
  position: absolute;
  top: 59px;
  width: 150px;
  height: calc(100vh - 100px);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #7386D5;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #0f0e0e;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #3631bd8c;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

