<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<script src="https://use.fontawesome.com/c0c323679c.js"></script>


<body>

<!--Navbar-->
<nav th:replace="fragments/header :: nav"></nav>

<div class="container" style="padding-bottom:25px;">
    <div class="row">
        <div class="card col-6 mx-auto" style="width: 20rem; margin-top: 80px;">
        	<p th:text="${confirmationMessage}" class="lead"></p>
            <div class="card-body">
                <h4 class="card-title">Register</h4>
                <!--Form-->
                <form th:action="@{/submit-registration}" th:object="${userDto}"  th:method="post" method="post" action="register">
                    <ul class="global-errors" th:if="${#fields.hasErrors('global')}">
                        <li class="text-danger" th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                    <div class="form-group">
                        <label for="Email">Email address</label>
                        <input th:type="email" type="email" class="form-control" th:field="*{email}" id="email" placeholder="Enter email" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="password" class="form-control" th:field="*{password}" id="password" placeholder="Password" required>
                        <p class="text-danger"th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                    <div class="form-group">
                        <label for="access_key">Access Key</label>
                        <input type="text" class="form-control" th:field="*{accessKey}" id="access_key" placeholder="Access key" required>
                        <p class="text-danger" th:if="${#fields.hasErrors('accessKey')}" th:errors="*{accessKey}"></p>
                    </div>
                    <div class="form-group">
                        <label for="secret_access_key">Secret Access Key</label>
                        <input type="text" class="form-control" th:field="*{secretAccessKey}" id="secret_access_key" placeholder="Secret Access key" required>
                        <p class="text-danger" th:if="${#fields.hasErrors('secretAccessKey')}" th:errors="*{secretAccessKey}"></p>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p style="margin-top: 10px;">Already have an account? &nbsp;<a href="/login"> Click here to login</a></p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/jsScripts :: scripts"></div>

</body>
</html>